@inject AppState appState

<div class="sidebar @navbarClass">

    <div class="top-row pl-4 navbar navbar-dark">
        <span class="oi oi-menu text-white clickable" @onclick="ToggleNavMenu"></span>

        <a class="navbar-brand" href="">Specme</a>
    </div>

    <div class="nav-menu-links">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>
                    <span class="nav-title">Home</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span>
                    <span class="nav-title">Counter</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>
                    <span class="nav-title">Fetch data</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="projects">
                    <span class="oi oi-aperture" aria-hidden="true"></span>
                    <span class="nav-title">Projects</span>
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private string navbarClass => appState.CollapseNavMenu ? "navbar-collapsed" : "";

    private void ToggleNavMenu()
    {
        appState.CollapseNavMenu = !appState.CollapseNavMenu;
        Console.WriteLine("test");
    }
}
